<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{/layouts/main_template}">

<head>
<meta charset="UTF-8">
<title>MindMap</title>
</head>
<body>
<div layout:fragment="content">
	<h1>MindMap에 오신 것을 환영합니다.</h1>
	
	<p th:text="${serverTime}">시간 표시</p>
	
</div>
    
       	<!-- 로그아웃 -->
	<form id="logoutForm" action="LoginForm.html" th:action="@{/auth/logout}" method="post">
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	</form>
	
    <script src="/js/jQuery-2.1.4.min.js"></script>
    <script>
    	$(document).ready(function() {
    		var formObj = $("#logoutForm");
    		
    		$("#logout").on("click", function() {
    			formObj.submit();
    		});
    	});
    	
    </script>
</body>
</html>
